In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
from datetime import datetime
t1 = datetime(2009,10,20)

In [3]:
t1

datetime.datetime(2009, 10, 20, 0, 0)

In [4]:
date_list = [
    datetime(2016,9,1),
    datetime(2016,9,10),
    datetime(2017,9,1),
    datetime(2017,9,20),
    datetime(2017,10,1)
]

In [5]:
date_list

[datetime.datetime(2016, 9, 1, 0, 0),
 datetime.datetime(2016, 9, 10, 0, 0),
 datetime.datetime(2017, 9, 1, 0, 0),
 datetime.datetime(2017, 9, 20, 0, 0),
 datetime.datetime(2017, 10, 1, 0, 0)]

In [6]:
s1 = Series(np.random.rand(5), index=date_list)

In [7]:
s1

2016-09-01    0.311386
2016-09-10    0.987479
2017-09-01    0.669110
2017-09-20    0.137160
2017-10-01    0.749791
dtype: float64

In [8]:
s1.values

array([0.31138645, 0.98747883, 0.66910984, 0.13715982, 0.74979113])

In [9]:
s1.index

DatetimeIndex(['2016-09-01', '2016-09-10', '2017-09-01', '2017-09-20',
               '2017-10-01'],
              dtype='datetime64[ns]', freq=None)

In [10]:
s1[1]

0.9874788336612145

In [11]:
s1[datetime(2016,9,10)]

0.9874788336612145

In [12]:
s1['2016-9-10']

0.9874788336612145

In [13]:
s1['20160910']

0.9874788336612145

In [14]:
s1['2017-09']

2017-09-01    0.66911
2017-09-20    0.13716
dtype: float64

In [15]:
s1['2016']

2016-09-01    0.311386
2016-09-10    0.987479
dtype: float64

In [16]:
s1['2017']

2017-09-01    0.669110
2017-09-20    0.137160
2017-10-01    0.749791
dtype: float64

In [17]:
s1

2016-09-01    0.311386
2016-09-10    0.987479
2017-09-01    0.669110
2017-09-20    0.137160
2017-10-01    0.749791
dtype: float64

In [18]:
date_list_new = pd.date_range('2016-01-01', periods=100, freq='5H') # freq='W-MON'  W表示周日开始，按周排；W-MON表示周一开始，按周排

In [19]:
s2 = Series(np.random.rand(100), index=date_list_new)

In [20]:
s2

2016-01-01 00:00:00    0.929192
2016-01-01 05:00:00    0.753870
2016-01-01 10:00:00    0.531687
2016-01-01 15:00:00    0.397513
2016-01-01 20:00:00    0.983592
                         ...
2016-01-20 19:00:00    0.603512
2016-01-21 00:00:00    0.132346
2016-01-21 05:00:00    0.710359
2016-01-21 10:00:00    0.832724
2016-01-21 15:00:00    0.168154
Freq: 5H, Length: 100, dtype: float64