In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# 一、原始的方法

In [3]:
# create a dataframe
df1 = DataFrame({"城市":["北京","上海","广州"], "人口":[1000,2000,1500]}, index=['A','B','C'])

In [4]:
df1

   城市    人口
A  北京  1000
B  上海  2000
C  广州  1500

In [5]:
df1

   城市    人口
A  北京  1000
B  上海  2000
C  广州  1500

In [6]:
df1['GDP'] = Series([1000,2000,1500], index=['A','B','C'])

In [7]:
df1

   城市    人口   GDP
A  北京  1000  1000
B  上海  2000  2000
C  广州  1500  1500

# 二、用mapping方法添加gdp

In [18]:
gdp_map = {'北京': 100, '上海': 200, '广州': 150}
df1['gdp'] = df1['城市'].map(gdp_map)
df1
# 这里用“城市”可以，但是用“人口”不能准确录入gdp

   城市    人口   GDP  gdp
A  北京  1000  1000  100
B  上海  2000  2000  200
C  广州  1500  1500  150

# 三、用series方法添加gdp2

In [19]:
df1['gdp2'] = Series([10, 20, 15], index=['A', 'B', 'C'])
df1

   城市    人口   GDP  gdp  gdp2
A  北京  1000  1000  100    10
B  上海  2000  2000  200    20
C  广州  1500  1500  150    15

# 四、replace in series

In [11]:
s1 = Series(np.arange(10))

In [12]:
s1

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [13]:
s1.replace([1,2,3], [10,20,30])

0     0
1    10
2    20
3    30
4     4
5     5
6     6
7     7
8     8
9     9
dtype: int64

In [20]:
s1.replace({2: 'feifei'})

0         0
1         1
2    feifei
3         3
4         4
5         5
6         6
7         7
8         8
9         9
dtype: object

In [21]:
s1.replace(3, 'hi')

0     0
1     1
2     2
3    hi
4     4
5     5
6     6
7     7
8     8
9     9
dtype: object

In [14]:
s1

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64